@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(38, 38, 58);
    overflow: hidden;
}

.principal{
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.path{
    position: absolute;
}

.bgIndexCenterSquares{
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background-color: rgb(38, 38, 58, 0.5);
    z-index: -1;
    transition: .5s;
}

.square2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    background-color: rgb(55, 55, 85, 0.5);
    z-index: -2;
    transition: .5s;
}

.square3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    background-color: rgb(38, 38, 58, 0.5);
    z-index: -3;
    transition: .5s;
}

.square4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 800px;
    background-color: rgb(55, 55, 85, 0.5);
    z-index: -4;
    transition: .5s;
}

.bgIndexBackSquares {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.backsquare {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: -1;
    animation: rotate 10s linear infinite alternate;
}

#backsquare1{
    background-color: rgba(35, 35, 53, 0.7);
    animation: backsquare1 20s linear infinite alternate;
}
#backsquare2{
    background-color: rgba(46, 46, 70, 0.5);
    animation: backsquare2 20s linear infinite alternate;
}
#backsquare3{
    background-color: rgba(35, 35, 53, 0.7);
    animation: backsquare3 20s linear infinite alternate;
}
#backsquare4{
    background-color: rgba(46, 46, 70, 0.5);
    animation: backsquare4 20s linear infinite alternate;
}
#backsquare5{
    background-color: rgba(35, 35, 53, 0.7);
    animation: backsquare5 20s linear infinite alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes backsquare1 {
    from {
        top: 10%;
        left: 10%;
        width: 50vh;
        height: 50vh
    }
    to {
        top: 100%;
        left: 100%;
        width: 75vh;
        height: 75vh;
    }
}

@keyframes backsquare2 {
    from {
        bottom: 100%;
        left: 100%;
        width: 40vh;
        height: 40vh
    }
    to {
        bottom: 10%;
        left: 10%;
        width: 60vh;
        height: 60vh;
    }
}
@keyframes backsquare3 {
    from {
        top: 100%;
        left: 100%;
        width: 50vh;
        height: 50vh
    }
    to {
        top: 10%;
        left: 10%;
        width: 75vh;
        height: 75vh;
    }
}

@keyframes backsquare4 {
    from {
        bottom: 10%;
        left: 10%;
        width: 40vh;
        height: 40vh
    }
    to {
        bottom: 100%;
        left: 100%;
        width: 60vh;
        height: 60vh;
    }
}

@keyframes backsquare5 {
    from {
        top: 30%;
        right: 100%;
        width: 60vh;
        height: 60vh
    }
    to {
        top: 90%;
        right: 100%;
        width: 40vh;
        height: 40vh;
    }
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: 10%;
}

.buttonMain{
    width: 75px;
    background-color: rgb(26, 26, 39);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(87, 87, 163);
    font-weight: bold;
    transition: .5s;
}

.buttonMain:hover{
    transform: scale(1.1);
    background-color: rgb(87, 87, 163);
    color: rgb(26, 26, 39);
}
