---
import Discord from "@/icons/Discord.astro";
import Osu from "@/icons/Osu.astro";
import Twitch from "@/icons/Twitch.astro";
import Twitter from "@/icons/Twitter.astro";
import Youtube from "@/icons/Youtube.astro";
---

<h1 class="h1-header">Lolu</h1>
<header id="header">
  <div class="buttons-header">
    <a draggable="false" target="_self" data-url="/">Start</a>
  </div>
  <div class="socials">
    <a href="https://www.twitch.tv/loluh_" target="_blank"><Twitch /></a>
    <a href="https://twitter.com/Loluh_" target="_blank"><Twitter /></a>
    <a href="https://www.youtube.com/@loluh" target="_blank"><Youtube /></a>
    <a href="https://discord.gg/9YwKEHQg8b" target="_blank"><Discord /></a>
    <a href="https://osu.ppy.sh/users/13204938" target="_blank"><Osu /> </a>
  </div>
</header>
